* {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
   
}

h1{
    letter-spacing: 5px;
    text-align: center;
    margin-top: 80px;
    font-size: 24pt !important;
    font-weight: bold !important;
}

label{
    font-size: medium;
    margin:12px;
 

}

.nameinput{
    margin-top: 8px;
}

#signupContainer{
    background-color: #E8E6DF;
}

.header--nofunction{
    background-color: #73412F;
    width: 100%;
    height: 60px;
}

.cluster--signup{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

.cluster--signup>div{
    width: 47%;

}



.signupContainer form input{
    margin-bottom: 60px;
    height: 40px;
    background-color: white;
    border-color: #707070;
    border-width: 0.5px;
    padding-left: 20px;
}

.button{
    float: right;

}

.signupContainer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 60px;
}

.signupBackground{
    background-color: #eeede9 !important;   
    /* background-image: url(background.png); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}

.fnameinput{
    width: 48%;   
    margin-right: 4%;
}

.lnameinput{
    width: 48%;
}

.footer{
    position: static;
}

.btnSignup{
    border: #cba983 1px solid !important;
    background-color: #D9C2A7 !important;
    width: 250px !important;
    height: 40px !important;
    float: right;
    font-weight: bold;
    padding: 0 !important;
    cursor: pointer;
}

.btnCancel{
    border-color: #CCCCCC;
    background-color: #ECECEC;
    width: 200px;
    height: 40px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

@media (max-width:800px) {
    .signupContainer form input{
        margin-bottom: 30px;
        height: 40px;
        width: 100%;
    }

    .signupContainer{
        padding: 40px;
    }

    .btnSignup, .btnCancel{
        width: 100% !important;
    }
}
