.main_img {
    width: 100%;
    display: block;
}

.section {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    max-width: 1200px;
    z-index: 30;
}

.section h2 {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 5px;
}

.section h3 {
    font-size: 18pt;
    margin-bottom: 30px;
    text-align: center;
}

.col-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #D9C2A7;
    align-items: center;
    
}

.col-menu img {
    width: 200px;
    padding: 20px;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
/* .col-img img{
    width: 60%;
    padding: 20px;
    margin: 0;
    border: red 1px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} */

.about {
    background-image: url("../images/about.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.about-card {
    width: 40vw;
    height: 60vh;
    padding: 10vh 5vw 0 55vw;
}

.button_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.section .btn {
    width: 35%;
    background-color: #d9c2a7;
    padding: 10px;
    border:#A07D50 1px solid;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.map {
    height: 600px;
    padding: 15px;
    border-radius: 25px;
    background-color: #f2d6b6;
    border: solid 1px #A07D50;
    flex-direction: column;
}

.map-container {
    width: 70%;
    float: left;
    height: 100%;
}

.map-list-container {
    float: left;
    width: 30%;
    height: 100%;
    padding: 25px;
}

.map-item {
    margin-bottom: 5px;
    position: relative;
    margin-top: 5px;
    padding: 15px;
    border-top: 1px #A07D50 solid;
}

.map-item:hover {
    background-color: #f9e1c6e2;
}

.list-name {
    font-size: 14pt;
}

.list-location {
    font-size: 12pt;
    color: #6a4c25;
    display: inline;
}

.list-distance {
    display: inline;
    position: absolute;
    right: 0px;
    font-size: 12pt;


}

hr {
    border: #A07D50 1px solid ;
    margin: 0;
    width: 100%;
}
/* following are edited modal part  */
.ant-btn{
    padding:8px 22px;
}

button.close{
    width: 20%;
    margin-right: 0;
}

div.modal-title.h4{
    margin-left: 40%;
}

div.button_container{
    margin-top: 40px;
}

div.modal-content{
    padding: 10px !important;
 
}

#formBasicEmail{
    border-radius: 50px;
}

#formBasicPassword{
    border-radius: 50px;
}

.ant-btn{
    border-radius: 50px;
}

/* --------------------------stop here---------------------- */


.about-card>div{
    width: 400px;
}



.main_btn {
    margin-right: 10px;
    text-align: center;
    font-size: 14pt;
}

.about-card > h2{
    /* margin-top: 50px; */
    margin: 0;
    white-space: nowrap;
}

.about-info{
    width: 100% !important;
    min-width: 300px;
}





@media (max-width:800px) {
    .col-menu img {
        width: 25%
    }
    .about {
        background-image: none;
        background-color: #f2d6b6;
        height: 400px;
        position: absolute;
        width: 100%;
        display: block;
        float: left;
        padding: 20px;
    }

    .about-card {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        /* border: red 1px solid; */
        display: block;
        padding: 0;
    }

    .about-card > div{
        width: 100%;


        /* border: black 1px solid; */
    }

   

    .button_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }

    .section .btn {
        width: 100%;
        margin-top: 20px;
    }
    .mid_nav a:hover {
        color: #c2a88b;
    }

    .map {
        height: 1050px;
        padding: 0px;
        border-radius: 0;
        border: solid 0px #A07D50;
        flex-direction: column;
        margin-bottom: 0;
        /* border: black 1px solid; */
    }
    
    .map-container {
        width: 100%;
        float: left;
        height: 500px;
        margin-bottom: 0;
        display: block;

    }
    
    .map-list-container {
        float: left;
        width: 100%;
        height: 100%;
        padding: 25px;
        margin-bottom: 0;
    }

    
}