* {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}


p{
    font-size: small;
}

input{ 
    border: solid;
    border-radius: 50px;
    border-color: #707070;
    border-width: 1px;
    padding-left: 10px;
    width: 100%;
    height: 35px;
}

.btnContinue{
    width: 45%;
    height: 30px;
    border:none;
    border-radius: 50px;
    background-color:#D9C2A7;
    cursor: pointer;
    float: right;

    
    
}

.btnContinue:hover{
    background-color: #B0936D;
}

.btnBack{
    width: 45%;
    height: 30px;
    border:none;
    border-radius: 50px;
    background-color:lightgray;
    cursor: pointer;
    float: left;

}



.forgotPasswordLink{
    color: #009DFF;
    font-size: small;
    float: right;
    margin-top: 5px;
}

.signupLink{
    color:#EA7A58;
    font-size: small;
    
}

.loginContainer{
    width: 70%;
    
    position: relative;
    border: none;
    border-color: white;
    text-align: center;
   
    margin-right: auto;
    margin-left: auto;

}

.loginForm{
    top:50%;
    left:50%;
    border:none;
    margin: 40px 80px;

}

h2{
    margin-top: 30px;
}

.closeIcon{
    float:right;
    cursor: pointer;
}



@media screen and (max-width: 500px) {
   

    .loginForm{
        margin: 30px;
    }
    .btnContinue{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .btnBack{
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
    }


}
    

  
