* {
    padding: 0;
    margin: 0;
    border: 0;
}

.container--menu>h1{
    font-family: Arial, Helvetica, sans-serif !important;
}

.menu-card {
    width: 48%; 
    min-height: 15vw;
    height: 300px;
    margin: 0;
    display: flex !important;
    flex-direction: row;
    padding: 10px;
    
    /* margin-bottom: 20px; */
    
}

.card-image {
    width: 250px;
    height: 250px;
    /* background-image: url("resources/coffee.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.card-info {
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 20px;
    text-align: left;
    position: relative;
    margin-left: 16px;
}
    

.card-name {
    width: 100%;
    height: 10%;
    
}

.card-name h3,
.cost-wrapper h5 {
    text-transform: uppercase;
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    white-space: nowrap;
}

.cost-wrapper h5{
    font-size: 14pt !important;
}

.cost-wrapper {
    height: 10%;
    width: 100%;
    margin: 5px;
    margin-bottom: 10px;
}

.description-wrapper {
    height: auto;
    width: 100%;
    max-height: 70%;
    overflow: visible;

}

.description-wrapper p {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family:cursive; */
    font-size: 11pt;
    white-space: initial;
    white-space:normal;
    font-weight:lighter;
    line-height: 24px;
    text-align: left;
    
}

.card-btns {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 40px;
    margin-left: 25px;
    
}

.card-btns img {
    height: 75%;
    width: auto;
}

.card-btns img:hover {
    cursor: pointer;
  
}

.place:hover{
    background-color: #73412f;
    color: white;
    transition: 0.5s;
}

/* .container .place:hover {
    background-color: burlywood;
} */

 /* for screens less than 800px */
@media (max-width:1000px) { 
    .menu-card {
        width: 100%;
        height: 580px;
        flex-direction: column;
        place-items: center;
        align-content: center;
        text-align: center;
        display: flex;
    }

    .card-image {
        /* height: 250px; */
        background-position: center;
        margin-bottom: 10px;
    }

    .description-wrapper {
        margin-top: 30px;
    }

    .description-wrapper p {
        text-align: center;
    }

    .card-info {
        flex-direction: row;
        width: 100%;
        height: 25%;
        margin-top: 40px;
        padding-left: 0px;
        align-self: center;
        place-content: center;
    }

    .card-name,
    .cost-wrapper {
        margin-top: 20px;
        text-align: center;
        
    }

    .card-btns {
        margin: 0 auto;
        width: auto;
        display: flex;
        position: relative;
        bottom: 0;
        margin-top: 10px;
        margin-bottom: 20px;
        
    }
}