* {
    
  padding: 0;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
margin-bottom: 25px;
}



hr{
width: 80%;
margin-top: 30px;
border: solid;
border-width: 0.5px;
border-color: lightgray;
border-radius: 50px;
}

.content{
padding: 32px 10%;
align-items: center;
justify-content: center;
border: 0;
}

/* pop up */
.change-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow: scroll;
}

.change-popup {
    width: 55%;
    padding: 30px;
    position:relative;
    background: white;
    /* height: auto; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
    justify-content: space-evenly;
}

.change-popup h3 {
    text-align: center;
    font-weight: bold;
}
.change-popup .primary-btn {
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    font-size: 14pt;
    
}

.change-popup .secondary-btn {
    margin-top: 20px;
    width: 100%;
    padding: 0;
    padding: 8px;
    font-size: 14pt;
    background-color: rgb(206, 206, 206);
    border: gray 1px solid;
    text-align: center;
}

.pop-menu {
    width: 50%;
    float: left;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
}

.minheight{
    min-height: 700px;
}
.minheight h1{
    margin-top: 40px;
}

.cancel-content, p {
    text-align: center;
    font-size: 14pt;
    margin-top: 0;
}
.cancel-content .order-id {
    color: red;
}


.flex{
display: flex;
flex-direction: row;
flex-wrap: wrap;
/* padding-right: 32px; */
justify-content: space-between;
word-wrap: break-word;
margin-bottom: 32px;




}

.flex--child{
/* margin-right: 32px; */

margin-bottom: 42px;
word-wrap: break-word;

}

.flex--child--orderid{
    width: 200 !important;
    word-wrap: break-word;
}

#btn--changeorder{
    border-radius: 50px;
    border: none;
    background-color: #D9C2A7;
    border-color: #A07D50;
    font-weight: bold;
    margin-bottom: 14px;
    margin-left: 5px;
    padding-left: 20px;
    padding-right: 20px;
   
   

    color: black !important;
    transition: 0.2s;


}

#btn--changeorder:active{
    color: white !important;
}

#btn--changeorder:focus{
    color: white;
}

#btn--cancelorder {
    background-color: #dfdfdf;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    margin-bottom: 14px;
    margin-left: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: black !important;
    transition: 0.2s;
}

#btn--cancelorder:hover{
   
    background-color:rgb(154, 154, 154);
}



#alert{
    border-color: 20px;

}

.ant-alert-info{
    word-wrap: break-word;
}

#btn--changeorder:hover{
    background-color: #73412F;
    color:white !important;
}

.ant-alert, .ant-alert-info{
    border-radius: 8px !important;

}

.orderstatus{
    padding: 10px;
    font-size: 12pt;
 
}




.flex--column{
display: flex;
flex-direction: column;
}

.flex--column--child{
margin-bottom: 42px;
}

td,th{
padding: 10px;
font-size: 16px;
}

.centertable{
text-align: center;
}




Header, Footer {
background-color: #73412f;
width: 100%;
display: block;
margin: 0;
height: 60px;
}

Header {
display: block;
align-items: center;
}

.header_container {
display: flex;
align-items: center;
background: #73412f;
justify-content: space-between;

}

.header_text {
font-size: 16pt;
color: #d9c2a7;
text-decoration: none;
}

Header .mid_nav {
text-align: center;
margin-left: auto;
display: block;
}

.mid_nav a {
margin-left: 30px;
display: inline-block;
}

.mid_nav > #n_check {
display: none;
}

.drop {
display: inline-block;
position: relative;
text-align: center;
}

.u_drop_content {
display: none;
position: absolute;
background-color: #d9c2a7;
/* border: #c2a88b 1px solid; */
/* overflow: auto; */
box-shadow:#585555;
width: auto;
margin-top: 30px;
top: 35%;
left: 50%;
transform: translateX(-50%);


}

.u_drop_content a {
    text-decoration: none;
    color:#73412f;
    /* padding: 20px 20px; */
    display: inline-block;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.u_drop_content a:hover {
    transition: none;
    color:white !important;
    
}

.drop:hover .u_drop_content {
display: block；

}

.mid_nav > .hamburger  {
display: none;
}

Header .icon {
font-size: 25px;
color: #d9c2a7;
float: right;
text-align: center;
position: relative;
}


Header .logo {
height: 45px;
text-align: center;
padding-left: 60px;
}

Header p {
font-size: 10pt;
color: #d9c2a7;
margin-left: 20px;
margin-top: 20px;
white-space: nowrap;
}

.lc_url {
font-size: 10pt;
color: #ea7a58;
}

.search {
padding: 10px;
border: #d9c2a7 1px solid;
border-radius: 25px;
font-size: 12pt;
background-color: white;
}

Footer {
position: relative;
bottom: 0;
}

Footer p {
font-size: 8pt;
color: #d9c2a7;
text-align: center;
display: block;
padding-top: 15px;
line-height: 150%;
}


.icon{
font-size: 40px;
color: #73412f;
}

.centre_content {
display: flex;
justify-content: space-evenly;
flex-direction: column;
justify-content: center;
align-items: center;
}

.centre_content .icon {
display: inline-block;
vertical-align: middle;
}

Button {
background-color: #d9c2a7;
padding: 10px;
border:#A07D50 1px solid;
border-radius: 25px;
cursor: pointer;
font-size: 12pt;
font-weight: bold;
}

.grey_button {
background-color: #ECECEC;
padding: 10px;
border:#DADADA 1px solid;
border-radius: 25px;
cursor: pointer;
font-size: 12pt;
font-weight: bold;
}

.left_arrow {
margin-right: 5px;
}

.right_arrow {
margin-left: 5px;
}

.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.col_70 {
-ms-flex: 65%; 
flex: 65%;
}

.col_30 {
-ms-flex: 35%; 
flex: 35%;
}

.item_list {
margin-right: 2rem;
margin-bottom: 60px;
}

.item {
margin-bottom: 30px;
}

.summary {
width: 100%;
}

.summary p {
display: block;
white-space: nowrap;
}

.summary .price {
float: right;
}

.summary .small_grey_text {
margin-left: 5px;
}

.summary a {
color: #ea7a58;
font-size: 16pt;
float: right;
}

.summary Button {
display: block;
width: 100%;
}


@media (max-width: 850px) {
.row {
  flex-direction: column;
}

.col-30 {
  margin-bottom: 20px;
}

.col-70 {
    flex-direction: column-reverse;
    margin-bottom: 20px;
    border-bottom: #73412F 2px solid;
  }

.item_list {
    margin-right: 0;
    margin-bottom: 2rem;
    border-right: 0;
    
}
Button {
    width: 100%;
}
}

/* !!!!!!!!!!!!!! */
#btnMenu{
    border:none;
    background-color: #73412F;
    color:#d9c2a7;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* !!!!!!! */
#btnMenu:hover{
    color: white;
}

@media (max-width:800px) {
.mid_nav > .hamburger {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}


Header .logo {
    margin-left: -40px;
}
.container {
    margin-left: 30px;
    margin-right: 30px;
}
.mid_nav > .hamburger, .user_drop > label {
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: 20px;
}

.mid_nav > .hamburger > label:hover,.mid_nav  #n_check:checked ~ .hamburger > label {
    background-color: #d9c2a769;
}

.mid_nav > .hamburger > label > .icon {
    font-size: 30px;
    display: block;
    margin: 0;
    right: 10px;
  }

.mid_nav > .links {
    position: absolute;
    display: block;
    width: 100%;
    background-color:  #d9c2a7;
    height: 0;
    overflow-y: hidden;
    top: 60px;
    right: 0px;
}

/* !!!!!!!!!!!!!!! */
.mid_nav > .links > a {
    display: block;
    width: 100%;
    float: left;
    margin-top: 30px;
    color: #73412F;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* !!!!!!!!!!!!!!!!!! */


/* !!!!!!!!! */
.mid_nav > .links > .drop > a {
    display: block;
    width: 100%;
    float: left;
    margin-top: 0px;
    color: #73412F;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.mid_nav > #n_check:not(:checked) ~ .links {
    height: 0px;
}

.mid_nav > #n_check:checked ~ .links {
    height: 350px;
    overflow-y: auto;
}

.mid_nav > .links > .drop {
    width: 100%;
    margin-top: 20px;
}

.mid_nav > .links > .drop > .u_drop_content {
    width: auto;
    border: 0px;
    width: 100%;
    
}

.mid_nav > .links > .drop > .u_drop_content > a{
    width: 30%;
    /* margin-left: 23%; */
    display: inline-block;
    position: relative;
    text-align: center;
}

.links .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    border:0 ;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    color: #8c5002;
    width: 30%;
    margin-top: 20px;
    
}



/* !!!!!!!!!!!!!! */
#btnMenu{
    border:none;
    background-color: #d9c2a7 ;
    color:#73412F;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-right: 30px;
}

.change-popup {
    width: 90%;
    padding: 20px;
    flex-direction: column;
    font-size: 12pt;
    
}

.change-popup .pop-menu {
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 0;
}


.pop-menu .ant-input-number, .snack-name {
    display: inline-block;
    /* border: solid 1px black; */
    vertical-align: baseline; 
}

.pop-menu .ant-input-number {
    position: absolute;
    right: 10px;
    margin-bottom: 2px;
    /* border: black 1px solid; */
}

.pop-menu .snack-name {
    margin-top: 3px;
}

.u_drop_content a {
    color:white;
}

.u_drop_content a:hover {
    color: #73412F !important;
    transition: none;
    
}




}