:root{
    --blue: #E3F4FF;
    --orange: #FF5129;
    --green: #C6EDCA;
    --darkblue:#015EBA;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    margin: 16px;
    margin-left: 35%;
  
  }
  
  .site-layout .site-layout-background {
    background: white;
  }

section.ant-layout{
    background-color: white;
}

section.ant-layout-has-sider{
    padding: 10px;
    background: white;
    height:fit-content;
}

aside.ant-layout-sider{
    background: white;
    height:inherit;
}

li.ant-menu-item{
    background: white;
    margin: 0 !important;
    color: gray !important;
    margin-bottom: 10px !important;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


 


}

li.ant-menu-item-selected{
    background-color: var(--blue) !important;
    margin: 0 !important;
    font-weight: bold;
    color: #000 !important;
    margin-bottom: 10px !important;

 
    text-align: center;
 
 

}

.ant-menu.ant-menu-dark{
    background: white !important;
    color: #000;
    
}

.site-layout-background-content{
    background: var(--blue) !important;
}

.ant-layout-content{
 
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px;
}

.closevan{
    margin-top:50px;
    margin-right: auto;
    margin-left: auto;
   
    width: 95%;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--orange);
    color: white;
    border: none;

}





/* orderlist */
.cluster{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.check{
    margin-right: auto;
    margin-left: auto;
   
    width: 95%;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--green);
    color: black;
    border: none;

}

.container--orderlist{
    background-color: white;
    border-radius: 10px;
    border:solid 1px;
    border-color: var(--darkblue);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}



.container--basicinfo{
    color:grey ;
}

.orderdetail{
    list-style-type: none;
}

.time{
    font-size: large;
    font-weight:bolder;
}

.fulfilled{
    background-color: #E5E5E5;
    border-color: grey;
}

.fulfilledCheck{
    margin-right: auto;
    margin-left: auto;
   
    width: 95%;
    padding: 20px;
    border-radius: 15px;
    
    color: black;
    border: none;
    background-color: #B9D1BC;
}


/* searchbar */
.searchbar{
    padding-left: 15px;
    margin-bottom: 10px;
}


/*Finished Orders*/
.container--finishedorderlist{
    background-color: white;
    border-radius: 10px;
    border:solid 1px;
    border-color: grey;
    padding-top: 10px;
    margin-bottom: 10px;
  

}

.container--orderdetail{
    background-color: white;
    border-radius: 10px;
    border:solid 1px;
    border-color: grey;
    padding-top: 10px;
    margin-bottom: 10px;
 

}

.container--FinishedOrderList{
    width: 48%;
}

.container--FinishedOrderDetail{
    width: 48%;
}








